{% extends "base.html" %}
{% block content %}
<section class="auth-card">
    <h1>Password Recovery</h1>
    <p class="muted">A secure reset link will be generated in the terminal for demo purpose.</p>

    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form %}
            {% if field.errors %}
                <div class="form-error">
                    <strong>{{ field.label.text }}:</strong>
                    {{ field.errors|join(", ") }}
                </div>
            {% endif %}
        {% endfor %}


        <label>Email</label>
        {{ form.email(placeholder="you@example.com") }}

        <button type="submit">Generate Reset Link</button>
    </form>
</section>
{% endblock %}
