{% extends "base.html" %}
{% block content %}
<section class="auth-card">
    <h1>Reset Password</h1>
    <p class="muted">Use a strong password with uppercase, lowercase, number, and special character.</p>

    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form %}
            {% if field.errors %}
                <div class="form-error">
                    <strong>{{ field.label.text }}:</strong>
                    {{ field.errors|join(", ") }}
                </div>
            {% endif %}
        {% endfor %}


        <label>New Password</label>
        {{ form.password(placeholder="Example: Secure@2026") }}

        <button type="submit">Reset Password</button>
    </form>
</section>
{% endblock %}
